extends layout

block content
  nav
    ul
      li
        a(href="/auth/logout") Logout
      li
        a(href="/auth/login") Login
      li
        a(href="/") Homepage

  header
    
  main
    a(class='google-btn' href='/auth/google') Google+