extends layout

block content
  nav
    ul
      li
        a(href="/auth/logout") Logout
      li
        a(href="/auth/login") Login
      li
        a(href="/") Homepage
      li
        a(href="/profile") Profile

  header
    h1 Welcome to your profile, #{user.username}

  main 
    p extra information about you.